#!/bin/bash

# get vault token

JWT=$(curl -H "Metadata-Flavor: Google" --data-urlencode "audience=vault/client" --data-urlencode "format=full" 'http://metadata/computeMetadata/v1/instance/service-accounts/default/identity')

echo "{\"jwt\": \"$JWT\",\"role\": \"client\" }" > payload.json

VAULT_TOKEN=$(curl \
    --request POST \
    --data @payload.json \
    https://vault.devcastops.com:8200/v1/core/auth/gcp/login) | jq ".data.token"
# get jwt


CONSUL_JWT=$(curl \
    -H "X-Vault-Token: $VAULT_TOKEN" \
    https://vault.devcastops.com:8200/v1/identity/oidc/token/consul-cluster-dc1)| jq -r .data.token

# load jwt in to file

echo $CONSUL_JWT > /etc/consul.d/token/jwt

# start consul

sudo systemctl start consul