#!/bin/bash

# get vault token

export JWT=$(curl -H "Metadata-Flavor: Google" 'http://metadata/computeMetadata/v1/instance/service-accounts/default/identity?audience=vault')



VAULT_TOKEN=$(curl \
    --request POST \
    --data @payload.json \
    http://{{ vault_address }}/v1/auth/gcp/login) | jq ".data.token"
# get jwt


# load jwt in to file

# start consul