{% if packer_build == false %}
retry_join = ["{{ query('inventory_hostnames', 'consul_server') | join('","')}}"]
{% endif %}

addresses {
  grpc  = "127.0.0.1"
}

ports {
  grpc = 8502
  grpc_tls = 8503
}

acl = {
  enabled = true
}
